body {font-family:Verdana, Arial, sans-serif;
      background-color: #3d402f;}
	  
/* Header */
h2{color:#3d402f}
h2 a:link { 	  color: #3d402f;}
h2 a:visited { color: #3d402f; }
h2 a:hover {   color: #660033; }	
.wrapper {margin:0 auto;
		 width: 80%;
		 min-width: 50.00em;	
		 background-color: #075637;}
		 
.logo { 	float:left;
		width:12.500em;
		height:12.500em;
		margin:0 auto;}	
header {
		font-size: 150%; 
		padding: 10px 10px 10px 155px;
		background-color: #0b3726;
		margin:0 auto;}
		
header h1 {   margin-bottom: 0;} 
header h2 { 	margin: 0; 
            padding-left:15.0em;
            font-size: .80em; 
            font-style: italic;
            text-align: left; 
            color: #000000; }
/* Search */		
#gsearch{margin-left:75%; margin-bottom:0; }
#gsearch input{display:inline; }
.searchbutton{font-size: 10px !important; line-height: 1.6em; }
			
/* Breadcrumbs */		
bcrumbs 			{color:#0b3726;}	
bcrumbs a 		{color: #0b3726;}
bcrumbs a:link 	 {color: #0b3726;}
bcrumbs a:visited {color: #0b3726;}
bcrumbs a:hover 	 {background-color: #81a599; color: #660033; }	
				 
/* Navigation */				 
nav {clear:both;
    float:left;
	width:12.500em;
	letter-spacing:0.1em;
	font-weight: bold;}	
	
#navbar ul { 	margin: 0;
			padding: 0;
			list-style: none;
			text-align:center;
			width:12.5em;
			border-bottom: 1px solid #0b3726;}
			
#navbar ul li { position: relative; }
#navbar li:hover  ul { display: block; }
#navbar li ul {	position: absolute;
			left:12.43em;
			top: 0;
			display: none; }		
#navbar ul li a:hover { background-color: #0b3726; color: #660033;}
#navbar ul li a {display: block;
			text-decoration: none;
			color:#869dc7;
			background: #075637;
			padding: 1.250px;
			border-bottom: 0;
			border: 1px solid #0b3726;}


/* Definition lists */
dd { margin: 0;padding-left:1.4em;}
dt { font-weight:bold;color: #000033;padding: 1.0em 0 1.0em 0;}	

dt a {text-decoration: none; }
dt a:link { 	 color: #3d402f;}
dt a:visited { color: #3d402f; }
dt a:hover {   color: #660033; }	
/* Content */
.content {background-color: #81a599;
         color: #000000;
		 padding: 10px 20px;
	     overflow: auto;}
		
.content a:link { color: #0000ff; }
.content a:visited { color: #0b3726; }
.content a:hover { background-color: #81a599;
                  color: #660033;}		  
#floatright { margin: 10px;
             float: right; }
#floatleft{ margin: 5px;
             float: left; }	
#playImage { 
			height:310px;
			width:315px;
			margin: 10px;
            float: right; }	
			 
.clear{clear: both;}
			 
aside {float: right; 
	  background-color: #eaeaea;
	  width: 120px; 
	  padding: 5px; 
	  margin-left: 10px; 
	  font-size: 80%; 
	  -webkit-box-shadow: 5px 5px 5px #828282;
      -moz-box-shadow: 5px 5px 5px #828282;
      box-shadow: 5px 5px 5px #828282;
	 }
article header { background-color: #81a599;
            background-image: none;
		    padding: 0; 
			font-size: 100%;
			color: #3d402f;
		}
article .small{font-size: 80%;}	
/* Gallery */		
.gallery {position: relative;}
.gallery  ul {width: 300px;
			list-style-type:none;
			display: block;
			float: left;	
			padding:20px;}
.gallery  li {	padding:5px;}
.gallery img {border-style:none;}
.gallery a   {text-decoration:none;			
			  color: #333;
			  font-style: italic;}
.gallery span  {display:none;}
			
.gallery a:hover span{display: inline;
                position: absolute;
				top: 10px;
				text-align: center;}	
/* Gallery 2 */				
.gallery2{position: relative;}
.gallery2  ul {width: 300px;
			list-style-type:none;
			display: block;
			  float: left;
			padding:20px;}
.gallery2  li {padding:5px;}
.gallery2 img {border-style:none;}
.gallery2 a   {text-decoration:none;			
			 color: #333;
			 font-style: italic;}
.gallery2 span  {display:none;}
			
.gallery2 a:hover span{display: inline;
                position: absolute;
				top: 10px;
				text-align: center;
				left:-150%;}					
.figure { 	width: 260px; 
			margin: 30px; 
			padding: 10px; 
			background-color: #FFF; 
			border: 1px solid #CCC; 
			text-align: center; 
			font-size: 0.80em;
			-webkit-transform: rotate(3deg); 
			-moz-transform: rotate(3deg); 
			-o-transform: rotate(3deg); 
			-ms-transform: rotate(3deg);
			-webkit-box-shadow: 5px 5px 5px #828282; 
			-moz-box-shadow: 5px 5px 5px #828282;
			box-shadow: 5px 5px 5px #828282;}
.figure:hover {	-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg); 
			-o-transform: rotate(0deg); 
			transform: rotate(0deg);
			-webkit-transform:.5s linear;
			-moz-transform:.5s linear;
			-o-transform:.5s linear;
			z-index:1;}
.thumbnail{width:200px;
           height:100px;}
.fullmedia{width:400px;
	       height:300px;}			  
.video{border:0;
	   width:560px;
	   height:315px;}		
/* Footer */	
footer {font-size:70%;
      padding: 0.625em;
	  background-color: #0b3726;
	  clear: both;}
datemoded {	font-size: 80%;
			font-weight:bold;
			font-style:italic;}
			
footer p{color: #3d402f;}   		
footer ul {list-style-type: square; 
        margin: .5em;
	    padding: .5em;
	    float:left;}
		
footer li.nodec {list-style-type: none; padding-bottom: 0.625em;} 
footer a:link { color: #869dc7; }
footer a:visited { color: #000000; }
footer a:hover { background-color: #0b3726; color: #660033; }	
#footerCenter{  clear: both;
				color:#636658;
				text-align:center;}	
				

				
/* Miscellaneous */
table { margin:auto; border:1px solid #5c743d; width:520px; padding:10px;}

caption { font-size:1em; font-weight:bold; font-family: Verdana, sans-serif; color:#3d402f; }



tbody { font-family:Arial, sans-serif; font-size:.90em;}


td {border-bottom:1px #000033 dashed; padding:5px; font:arial, sans-serif; height:20px;}

th {padding:10px; color:#fff; text-shadow:1px 1px 1px #568F23; border:1px solid #0b3726; border-bottom:2px solid #0b3726; background-color:#9DD929;
background:-webkit-gradient(linear,
							left bottom,
							left top,
							color-stop(0.02, rgb(7,86,55)),
							color-stop(0.51, rgb(7,86,55)),
							color-stop(0.87, rgb(7,86,55)));
background: -moz-linear-gradient(center bottom,
								rgb(11,55,38) 2%,
								rgb(7,86,55) 51%,
								rgb(11,55,38) 87%); 
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius:5px 5px 0px 0px;
border-top-left-radius:5px;
border-top-right-radius:5px;}

label{display:block; text-align:right; width:120px; padding-right:5px;}
input,textarea{display:block; margin-bottom:20px;}
#formResponse{text-align:left;}

/*Feed Back Collaspable Dialog Form*/
#feedBackContainer{ position:fixed;
					margin-top:0%;
					right:0px;
					height:500px;
					z-index:99;
					}
#feedBackButton{ 	margin-left:0px;
					text-align: center;
					margin-top:0%;
					margin-right:-42px;
					}
.feedBackButtonRight {	/* Safari */
						-webkit-transform: rotate(-90deg);

						/* Firefox */
						-moz-transform: rotate(-90deg);

						/* IE */
						-ms-transform: rotate(-90deg);

						/* Opera */
						-o-transform: rotate(-90deg);

						/*W3C*/
						transform: rotate(-90deg);
					 }
#feedBackDialogForm{ height:500px;
					 left:0;
					 bottom:0;				 
					 }
#feedBackDialogForm h3{ height:30px;
					   margin:5px;
					   }			
#feedBackFormContainer{ display:none;
					    margin-top:-35%;
						}		

#feedBackDialogForm input, #feedBackDialogForm label { display:block;
												   width:150px;
												   text-align:left;
												   margin-left:5px;
												   margin-right:5px;
												   margin-bottom:3px;
												   }
#feedBackDialogForm textarea { display:block;
							width:300px;
							height:50px;
							margin-right:5px;
							margin-left:5px;
							}	

#feedBackDialogForm button { margin: 7px 0 7px 7px;}

#feedBackTextFName{}
#feedBackTextLName{}
#feedBackTextEmail{}
#feedBackTextPhone{}
#feedBackSubmitButton{ margin:5px;}
.floatLeft{float:left;}
.floatRight{float:right;}
.textCenter{text-align:center;}
#feedBackResponse {
	color: #ff6600;
	margin:5px;
}